<div class="">
    <div class="container flex flex-col md:flex-row items-center justify-between px-5 text-gray-700">
        <div class="w-full lg:w-1/2 mx-8">
            <div class="text-7xl text-sky-600 font-dark font-extrabold mb-8"> 404</div>
            <p class="text-2xl md:text-3xl font-light leading-normal mb-8">
                Lo sentimos, no pudimos encontrar la página que estás buscando.
            </p>

            <button
                (click)="regresar()" class="inline-flex mr-5 rounded-full bg-gradient-to-r from-sky-600 to-cyan-400 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75">
                <span class="block rounded-full bg-white px-8 py-3 text-sm font-medium hover:bg-transparent">
                    Regresar
                </span>
            </button>
        </div>
        <div class="w-full lg:flex lg:justify-end lg:w-1/2 mx-5 my-12">
            <img src="https://user-images.githubusercontent.com/43953425/166269493-acd08ccb-4df3-4474-95c7-ad1034d3c070.svg"
                class="" alt="Page not found">
        </div>

    </div>
</div>