<aside class="sticky top-0 z-40 w-full">
    <div class="sticky p-4 w-full lg:w-100 bg-gray-800">
      <div class="p-2 text-gray-700 rounded-lg font-medium capitalize">
        <span class="p-3">
          <img src="https://cdn.icon-icons.com/icons2/3150/PNG/512/clothing_shop_icon_192653.png" alt="alt placeholder"
            class="w-8 h-8 -mt-1 inline mx-auto">
          <span class="mx-1 pl-2 text-white">Yavi Fashion Every Day</span>
        </span>
        <span class="absolute ml-32 top-4 sm:relative lg:absolute">
          <div class="flex">
            <select name="" id=""
              class="py-2.5 px-4 text-sm font-medium text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg cursor-pointer hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600">
              <option value="" disabled selected hidden>Todas las Categorias</option>
              <option>Mujer</option>
              <option>Hombre</option>
              <option>Tendencia</option>
              <option>Nuevo</option>
            </select>
            <div class="relative w-full">
              <input type="text" id="location-search"
                class="block p-2.5 w-96 z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                placeholder="Buscar por categorias" required>
              <button type="submit"
                class="absolute top-0 left-96 -ml-2 p-2.5 text-sm font-medium text-white bg-gradient-to-r from-sky-600 to-cyan-400  rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
                <span class="sr-only">Buscar</span>
              </button>
            </div>
          </div>
        </span>
        <span id="btn" class="hover:text-white cursor-pointer w-10 relative float-right mr-3 sm:absolute sm:right-4 sm:top-5 lg:right-0 lg:top-0 lg:relative" (click)="abrirMenuUsuario()" (dblclick)="cerrarMenuUsuario()">
          <img
            src="{{photoUsuario}}"
            alt="alt placeholder" class="w-8 h-8 mx-auto mb-5 rounded-full">
        </span>
        <span class="hover:text-white cursor-pointer w-10 relative float-right mr-4 sm:absolute sm:right-16 sm:top-5 lg:right-0 lg:top-0 lg:relative" (click)="abrirMenuCarrito()">
          <i class="fas fa-shopping-cart p-2 bg-gray-800 rounded-full w-10 h-10">
          </i>
          <span
            class="absolute right-0 top-0 -mt-1 -mr-1 text-xs text-black font-medium px-2 rounded-full bg-gradient-to-r from-sky-600 to-cyan-400">{{totales.cantidadTotal}}</span>
        </span>
        <span class="float-right mr-5 -mt-1 sm:absolute sm:right-28 sm:top-5 lg:right-0 lg:top-0 lg:relative">
          <button class="bg-gradient-to-r from-sky-600 to-cyan-400 text-white font-bold py-2 px-4 rounded hover:bg-black" (click)="histories()">
            Historia
          </button>
        </span>
      </div>
    </div>

    
    <!-- MENU PARA LOGUEARSE -->

    <div id="menuUsuario" class="absolute right-7 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
      <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
        <div>{{ nombreUsuario }}</div>
        <div class="font-medium truncate">{{ mailUsuario }}</div>
      </div>
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
        <li>
          <a (click)="profile()" class="cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile</a>
        </li>
      </ul>
      <div class="py-1">
        <a (click)="logOut()" class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
      </div>
    </div>
    <div id="menuCarrito" class="absolute">
      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden" (click)="cerrarMenuCarrito()">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
            <div class="pointer-events-auto w-screen max-w-md">
              <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                  <div class="flex items-start justify-between">
                    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Carrito de Compras</h2>
                    <div class="ml-3 flex h-7 items-center">
                      <button type="button" (click)="cerrarMenuCarrito()" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Close panel</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
                  </div>
    
                  <div class="mt-8">
                    <div class="flow-root">
                      <ul role="list" class="-my-6 divide-y divide-gray-200" *ngIf="shopppingCartModel.length > 0; else carritoVacio">
                        <li class="flex py-6" *ngFor="let item of shopppingCartModel">
                          <div class="h-24 w-20 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                            <img src="{{item.images_cart}}" alt="" class="h-full w-full">
                          </div>
    
                          <div class="ml-4 flex flex-1 flex-col">
                            <div>
                              <div class="flex justify-between text-base font-medium text-gray-900">
                                <h3>
                                  <a href="#">{{item.name_cart}}</a>
                                </h3>
                                <p class="ml-4">${{item.price_cart | number: '.0-2'}}</p>
                              </div>
                            </div>
                            <div class="flex flex-1 items-end justify-between text-sm">
                              <p class="text-gray-500">Cant {{item.amount_cart}}</p>
    
                              <div class="flex">
                                <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500" (click)="eliminarItem(item)">Remover</button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <ng-template class="carritoVacio" #carritoVacio>
                        <marquee behavior="alternate">No hay productos en el carrito.</marquee>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                  <div class="flex justify-between text-base font-medium text-gray-900" *ngIf="shopppingCartModel.length > 0; else subtotalVacio">
                    <p>Subtotal</p>
                    <p>${{totales.subtotal | number: '.0-2'}}</p>
                  </div>
                  <ng-template #subtotalVacio>
                    <div class="flex justify-between text-base font-medium text-gray-900">
                      <p>Subtotal</p>
                      <p>$0</p>
                    </div>
                  </ng-template>
                  <div class="mt-6">
                    <button (click)="proceder()"
                      class="flex w-full rounded-full bg-gradient-to-r from-sky-600 to-cyan-400 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
                      >
                      <span class="block w-full rounded-full bg-white px-8 py-3 text-sm font-medium hover:bg-transparent">
                        Proceder a Pagar
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>