<div>
  <div>
    <app-nav></app-nav>
    <app-sidebar></app-sidebar>
    <main class="ml-16 -mb-96 pb-2 mt-2 mr-2">
      <app-breadcrumb></app-breadcrumb>


<div class="pt-6 pb-12 bg-gray-300">
    <div id="card" class="">
        <h2 class="text-center font-serif  uppercase text-4xl xl:text-5xl">Historia</h2>
        <button
        class="absolute right-24 top-40 rounded-full bg-gradient-to-r from-sky-600 to-cyan-400 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
        (click)="nuevoHistory()">
        <span class="rounded-full items-center bg-white px-8 py-3 inline-flex hover:bg-transparent">
            <i class='fas fa-plus'></i>
        </span>
        </button>
        <div class="container w-100 lg:w-4/5 mx-auto flex flex-col">
            <div *ngFor="let history of histories" class="flex flex-col md:flex-row overflow-hidden bg-white rounded-lg shadow-xl  mt-4 w-100 mx-2">
                <div class="h-64 w-auto md:w-1/2">
                    <img class="inset-0 h-full w-full"
                        src="{{history.images_history}}" />
                </div>
                <div class="w-full py-4 px-6 text-gray-800 flex flex-col justify-between">
                    <h3 class="font-semibold text-lg leading-tight truncate">{{history.title_history}}</h3>
                    <p class="mt-2">
                        {{history.description_history}}
                    </p>
                    <p class=" text-xs text-gray-700 uppercase tracking-wide font-semibold mt-2">
                      Actualizado {{history.updateAt | date }} &bull; Creado {{history.createAt | date: undefined: 'es' | titlecase}}
                    </p>
                </div>
                <div class="relative flex justify-end z-10 right-3 top-2"><!-- colocar flex en vez de hidden para que visualizar botones -->
                    <button
                      class="inline-flex absolute right-9 rounded-full bg-gradient-to-r from-sky-600 to-cyan-400 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
                      (click)="editarHistory(history.id_history)">
                      <span class="rounded-full bg-white px-1.5 py-1 text-sm font-medium hover:bg-transparent">
                        <i class='fas fa-edit'></i>
                      </span>
                    </button>
                    <button
                      class="inline-flex absolute rounded-full bg-gradient-to-br from-pink-500 to-orange-400 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
                      (click)="deleteHistory(history.id_history)">
                      <span class="rounded-full bg-white px-2.5 py-1 text-sm font-medium hover:bg-transparent">
                        <i class='fas fa-times'></i>
                      </span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</div>
  </main>
  <app-footer></app-footer>
  </div>
  </div>